<html>
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>

    <style>

        .cakeon_tbl{
            width:100%;
            margin:auto;
            border-collapse: collapse;
        }

        .cakeon_tbl td{
            border: 1px solid #444444;
        }

    </style>

</head>
<body>

<table class="cakeon_tbl">
    <tr>
        <td style="width:15%">
            번호
        </td>
        <td>
            제목
        </td>
        <td style="width:10%">
            조회
        </td>
        <td style="width:15%">
            날짜
        </td>
    </tr>

    <tr>
        <td>
            번호
        </td>
        <td>
            제목
        </td>
        <td>
            조회
        </td>
        <td>
        </td>
    </tr>
    
</table>

</body>
</html>